In [1]:
import numpy as np
import pandas as pd

'''from sklearn import '''
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
import glob
path = r'bbFiles' # use your path
allFiles = glob.glob(path + "/*")
frame = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, names = ["Year","Team","League","PlayerID","PlayerName","TotalPlayed","GamesStarted","GamesBatted",
                                                            "PlayerInDefenseTeam","AsPitcher","AsCatcher","AsFirstbaseman","AsSecondbaseman","AsThirdbaseman",
                                                            "AsShortstop","AsLeftfielder","AsCenterfielder","AsRightFielder","AsOutfielder","AsDesignatedHitter",
                                                            "AsPinchHitter","AsPinchRunner"],error_bad_lines=False, encoding="latin-1")
    list_.append(df)
frame = pd.concat(list_)

In [3]:
frame.head()

,Year,Team,League,PlayerID,PlayerName,TotalPlayed,GamesStarted,GamesBatted,PlayerInDefenseTeam,AsPitcher,...,AsSecondbaseman,AsThirdbaseman,AsShortstop,AsLeftfielder,AsCenterfielder,AsRightFielder,AsOutfielder,AsDesignatedHitter,AsPinchHitter,AsPinchRunner
0,1899,PIT,NL,elybo01,Bones Ely,139.0,NaN,139,139.0,0,...,6,0,133,0,0,0,0,NaN,NaN,NaN
1,1899,PIT,NL,foxpa01,George Fox,13.0,NaN,13,13.0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1899,LS3,NL,hoydu01,Dummy Hoy,155.0,NaN,155,155.0,0,...,0,0,0,0,155,0,155,NaN,NaN,NaN
3,1899,BRO,NL,becker01,Erve Beck,8.0,NaN,8,8.0,0,...,6,0,2,0,0,0,0,NaN,NaN,NaN
4,1899,BRO,NL,dalyto01,Tom Daly,141.0,NaN,141,141.0,0,...,141,0,0,0,0,0,0,NaN,NaN,NaN

In [4]:
df1 = frame

In [5]:
df1.columns

Index([u'Year', u'Team', u'League', u'PlayerID', u'PlayerName', u'TotalPlayed',
       u'GamesStarted', u'GamesBatted', u'PlayerInDefenseTeam', u'AsPitcher',
       u'AsCatcher', u'AsFirstbaseman', u'AsSecondbaseman', u'AsThirdbaseman',
       u'AsShortstop', u'AsLeftfielder', u'AsCenterfielder', u'AsRightFielder',
       u'AsOutfielder', u'AsDesignatedHitter', u'AsPinchHitter',
       u'AsPinchRunner'],
      dtype='object')

In [6]:
df1.head()

,Year,Team,League,PlayerID,PlayerName,TotalPlayed,GamesStarted,GamesBatted,PlayerInDefenseTeam,AsPitcher,...,AsSecondbaseman,AsThirdbaseman,AsShortstop,AsLeftfielder,AsCenterfielder,AsRightFielder,AsOutfielder,AsDesignatedHitter,AsPinchHitter,AsPinchRunner
0,1899,PIT,NL,elybo01,Bones Ely,139.0,NaN,139,139.0,0,...,6,0,133,0,0,0,0,NaN,NaN,NaN
1,1899,PIT,NL,foxpa01,George Fox,13.0,NaN,13,13.0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1899,LS3,NL,hoydu01,Dummy Hoy,155.0,NaN,155,155.0,0,...,0,0,0,0,155,0,155,NaN,NaN,NaN
3,1899,BRO,NL,becker01,Erve Beck,8.0,NaN,8,8.0,0,...,6,0,2,0,0,0,0,NaN,NaN,NaN
4,1899,BRO,NL,dalyto01,Tom Daly,141.0,NaN,141,141.0,0,...,141,0,0,0,0,0,0,NaN,NaN,NaN

In [7]:
df1.sort_values(by=['Year'])

,Year,Team,League,PlayerID,PlayerName,TotalPlayed,GamesStarted,GamesBatted,PlayerInDefenseTeam,AsPitcher,...,AsSecondbaseman,AsThirdbaseman,AsShortstop,AsLeftfielder,AsCenterfielder,AsRightFielder,AsOutfielder,AsDesignatedHitter,AsPinchHitter,AsPinchRunner
91,1871,FW1,NaN,quinnpa02,Paddy Quinn,5.0,NaN,5,5.0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6,1871,CH1,NaN,kingma01,Marshall King,20.0,NaN,20,20.0,0,...,0,1,3,1,10,0,11,NaN,NaN,NaN
7,1871,TRO,NaN,kingst01,Steve King,29.0,NaN,29,29.0,0,...,0,0,0,29,0,0,29,NaN,NaN,NaN
8,1871,RC1,NaN,mackde01,Denny Mack,25.0,NaN,25,25.0,3,...,0,0,1,1,0,0,1,NaN,NaN,NaN
9,1871,TRO,NaN,pikeli01,Lip Pike,28.0,NaN,28,28.0,0,...,7,0,0,0,0,18,18,NaN,NaN,NaN
10,1871,CH1,NaN,woodji01,Jimmy Wood,28.0,NaN,28,28.0,0,...,28,0,0,0,0,0,0,NaN,NaN,NaN
11,1871,TRO,NaN,yorkto01,Tom York,29.0,NaN,29,29.0,0,...,0,0,0,0,29,0,29,NaN,NaN,NaN
12,1871,TRO,NaN,abercda01,Frank Abercrombie,1.0,NaN,1,1.0,0,...,0,0,1,0,0,0,0,NaN,NaN,NaN
13,1871,CL1,NaN,allisar01,Art Allison,29.0,NaN,29,29.0,0,...,2,0,0,0,29,0,29,NaN,NaN,NaN
14,1871,WS3,NaN,allisdo01,Doug Allison,27.0,NaN,27,27.0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
15,1871,RC1,NaN,ansonca01,Cap Anson,25.0,NaN,25,25.0,0,...,2,20,0,1,0,0,1,NaN,NaN,NaN
16,1871,FW1,NaN,armstbo01,Robert Armstrong,12.0,NaN,12,12.0,0,...,0,0,0,0,11,1,12,NaN,NaN,NaN
17,1871,RC1,NaN,barkeal01,Al Barker,1.0,NaN,1,1.0,0,...,0,0,0,1,0,0,1,NaN,NaN,NaN
18,1871,BS1,NaN,barnero01,Ross Barnes,31.0,NaN,31,31.0,0,...,16,0,15,0,0,0,0,NaN,NaN,NaN
19,1871,FW1,NaN,barrebi01,Bill Barrett,1.0,NaN,1,1.0,0,...,0,1,0,0,0,0,0,NaN,NaN,NaN
20,1871,BS1,NaN,barrofr01,Frank Barrows,18.0,NaN,18,18.0,0,...,1,0,0,13,0,4,17,NaN,NaN,NaN
21,1871,CL1,NaN,battijo01,Joe Battin,1.0,NaN,1,1.0,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
22,1871,WS3,NaN,bealsto01,Tommy Beals,10.0,NaN,10,10.0,0,...,2,0,0,4,0,4,8,NaN,NaN,NaN
23,1871,TRO,NaN,beaveed01,Edward Beavens,3.0,NaN,3,3.0,0,...,3,0,0,0,0,0,0,NaN,NaN,NaN
24,1871,PH1,NaN,bechtge01,George Bechtel,20.0,NaN,20,20.0,3,...,0,3,0,1,3,11,15,NaN,NaN,NaN
25,1871,TRO,NaN,bellast01,Steve Bellan,29.0,NaN,29,29.0,0,...,0,28,1,0,0,0,0,NaN,NaN,NaN
26,1871,PH1,NaN,berkena01,Nate Berkenstock,1.0,NaN,1,1.0,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
27,1871,PH1,NaN,berryto01,Tom Berry,1.0,NaN,1,1.0,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
28,1871,WS3,NaN,berthha01,Harry Berthrong,17.0,NaN,17,17.0,0,...,5,0,0,11,1,0,12,NaN,NaN,NaN
29,1871,FW1,NaN,biermch01,Charles Bierman,1.0,NaN,1,1.0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
30,1871,BS1,NaN,birdsda01,Dave Birdsall,29.0,NaN,29,29.0,0,...,0,0,0,0,0,27,27,NaN,NaN,NaN
5,1871,WS3,NaN,hallge01,George Hall,32.0,NaN,32,32.0,0,...,0,0,0,1,31,0,32,NaN,NaN,NaN
31,1871,WS3,NaN,brainas01,Asa Brainard,30.0,NaN,30,30.0,30,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1871,BS1,NaN,conefr01,Fred Cone,19.0,NaN,19,19.0,0,...,0,0,0,18,0,1,18,NaN,NaN,NaN
2,1871,CL1,NaN,bassjo01,John Bass,22.0,NaN,22,22.0,0,...,0,0,22,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,2014,MIA,NL,dobbsgr01,Greg Dobbs,36.0,3.0,36,3.0,0,...,0,0,0,0,0,0,0,0.0,33.0,0.0
417,2014,MIA,NL,dietrde01,Derek Dietrich,49.0,43.0,49,44.0,0,...,44,1,0,0,0,0,0,0.0,5.0,0.0
416,2014,PHI,NL,diekmja01,Jake Diekman,73.0,0.0,67,73.0,73,...,0,0,0,0,0,0,0,0.0,0.0,0.0
415,2014,TOR,AL,dickera01,R. A. Dickey,35.0,34.0,4,34.0,34,...,0,0,0,0,0,0,0,0.0,0.0,1.0
414,2014,COL,NL,dickeco01,Corey Dickerson,131.0,105.0,131,105.0,0,...,0,0,0,99,9,0,105,7.0,21.0,0.0
413,2014,CLE,AL,dickech01,Chris Dickerson,41.0,27.0,41,34.0,0,...,0,0,0,19,5,11,34,5.0,9.0,1.0
412,2014,WAS,NL,detwiro01,Ross Detwiler,47.0,0.0,44,47.0,47,...,0,0,0,0,0,0,0,0.0,0.0,0.0
429,2014,TOR,AL,drabeky01,Kyle Drabek,2.0,0.0,1,2.0,2,...,0,0,0,0,0,0,0,0.0,0.0,0.0
0,2014,NYN,NL,geedi01,Dillon Gee,22.0,22.0,20,22.0,22,...,0,0,0,0,0,0,0,0.0,0.0,0.0
430,2014,MIN,AL,duensbr01,Brian Duensing,62.0,0.0,4,62.0,62,...,0,0,0,0,0,0,0,0.0,0.0,0.0
432,2014,SFN,NL,duffyma01,Matt Duffy,34.0,10.0,34,17.0,0,...,9,2,7,0,0,0,0,0.0,16.0,2.0
449,2014,KCR,AL,escobal02,Alcides Escobar,162.0,162.0,162,162.0,0,...,0,0,162,0,0,0,0,0.0,0.0,0.0
448,2014,SDN,NL,erlinro01,Robbie Erlin,13.0,11.0,12,13.0,13,...,0,0,0,0,0,0,0,0.0,0.0,0.0
447,2014,MIA,NL,eovalna01,Nathan Eovaldi,33.0,33.0,32,33.0,33,...,0,0,0,0,0,0,0,0.0,0.0,0.0
446,2014,TOR,AL,encared01,Edwin Encarnacion,128.0,127.0,128,82.0,0,...,0,0,0,2,0,0,2,46.0,1.0,0.0
445,2014,CIN,NL,elmorja01,Jake Elmore,5.0,3.0,5,5.0,0,...,2,0,3,0,0,0,0,0.0,1.0,0.0
444,2014,NYA,AL,ellsbja01,Jacoby Ellsbury,149.0,143.0,149,141.0,0,...,0,0,0,0,141,0,141,5.0,4.0,0.0
443,2014,SLN,NL,ellisma01,Mark Ellis,73.0,46.0,73,55.0,0,...,50,3,0,0,0,0,0,0.0,22.0,0.0
442,2014,LAN,NL,ellisaj01,A. J. Ellis,93.0,89.0,93,92.0,0,...,0,0,0,0,0,0,0,0.0,2.0,0.0
441,2014,SEA,AL,eliasro01,Roenis Elias,29.0,29.0,2,29.0,29,...,0,0,0,0,0,0,0,0.0,0.0,0.0
440,2014,LAN,NL,elbersc01,Scott Elbert,7.0,0.0,7,7.0,7,...,0,0,0,0,0,0,0,0.0,0.0,0.0
439,2014,TEX,AL,edwarjo02,Jon Edwards,9.0,0.0,1,9.0,9,...,0,0,0,0,0,0,0,0.0,0.0,0.0
438,2014,NYN,NL,edginjo01,Josh Edgin,47.0,0.0,44,47.0,47,...,0,0,0,0,0,0,0,0.0,0.0,0.0
437,2014,CHA,AL,eatonad02,Adam Eaton,123.0,123.0,123,123.0,0,...,0,0,0,0,123,0,123,0.0,0.0,0.0
436,2014,MIA,NL,dysonsa01,Sam Dyson,31.0,0.0,30,31.0,31,...,0,0,0,0,0,0,0,0.0,0.0,0.0
435,2014,KCR,AL,dysonja01,Jarrod Dyson,120.0,66.0,120,108.0,0,...,0,0,0,3,106,0,108,3.0,3.0,18.0
434,2014,SFN,NL,duvalad01,Adam Duvall,28.0,18.0,28,22.0,0,...,0,1,0,0,0,0,0,1.0,8.0,0.0
433,2014,SFN,NL,dunnija01,Jake Dunning,1.0,0.0,1,1.0,1,...,0,0,0,0,0,0,0,0.0,0.0,0.0
431,2014,KCR,AL,duffyda01,Danny Duffy,31.0,25.0,3,31.0,31,...,0,0,0,0,0,0,0,0.0,0.0,0.0
916,2014,MIA,NL,ozunama01,Marcell Ozuna,153.0,146.0,153,151.0,0,...,0,0,0,11,140,4,151,0.0,5.0,0.0

In [8]:
df1.to_csv("bbList.csv", sep=',', encoding='utf-8', index=None )

In [10]:
# unique Team names
g = df1['Team'].unique()
s = pd.Series(g)
s = s.sort_values()
s.to_csv('uniqueTeam.csv', encoding='utf-8',index=None)

In [11]:
# unique Player names
g1 = df1['PlayerName'].unique()
s1 = pd.Series(g1)
s1=s1.sort_values()
s1.to_csv('uniquePlayers.csv', encoding='utf-8',index=None)

In [52]:
g2 = df1.sort_values('Team')
g2 = g2.groupby('PlayerName')['Team'].unique()

In [53]:
g2.columns = ['PlayerName', 'TeamList']

In [54]:
g2 = g2.to_frame().reset_index()

In [55]:
g2.head()

      PlayerName                       Team
0   A. J. Achter                      [MIN]
1  A. J. Burnett  [FLO, NYA, PHI, PIT, TOR]
2    A. J. Ellis                      [LAN]
3  A. J. Griffin                      [OAK]
4    A. J. Hinch       [DET, KCA, OAK, PHI]

In [56]:
# since we need triples, we can discard players that have played for less than 2 teams
listLen = g2.Team.str.len()>2

In [57]:
s2 = g2[listLen]

In [58]:
s2.head()

          PlayerName                            Team
1      A. J. Burnett       [FLO, NYA, PHI, PIT, TOR]
4        A. J. Hinch            [DET, KCA, OAK, PHI]
6   A. J. Pierzynski       [BOS, CHA, MIN, SFN, TEX]
9        A. J. Sager                 [COL, DET, SDN]
13       Aaron Boone  [CIN, CLE, FLO, HOU, NYA, WAS]

In [59]:
s2.to_csv('playerTeams.csv', encoding='utf-8', index = None)